@import "animation.css";

.header {
  float: left;
  margin: 0;
  overflow: hidden;
  padding-left: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 24px;
  background: rgb(255, 137, 0);
  background: linear-gradient(
    90deg,
    rgba(199, 87, 188, 1) 0%,
    rgba(255, 137, 0, 1) 100%
  );
  text-align: left;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.28);
  display: flex;
}

.header img {
  width: 5%;
}

.header span {
  margin-left: 1em;
  margin-top: 1em;
}
/* .header span:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  color: yellow;
  width: 100%;
  z-index: 5;
  text-shadow: none;
  left: 27%;
  text-align: left;
  animation: flicker 3s linear infinite;
} */

.main-screen-content {
  margin: auto;
  width: 100%;
}

.main-screen-content-children > * {
  display: inline-block;
}

.cover-image {
  height: 202px;
  width: 262px;
}

.card {
  background: rgb(0, 175, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 175, 255) 0%,
    rgba(148, 93, 255, 1) 100%
  );
  border-radius: 2px;
  display: inline-block;
  height: 390;
  width: 262px;
  margin: 1rem;
  position: relative;
  padding: 10px;
  pointer-events: auto;
  transition: all 150ms ease;
  will-change: transform, box-shadow, background;
}

.card-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 1s ease-in-out;
}

.card-shadow:hover {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.28); */
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transform: translate(5px, -5px);
}

.text-title {
  color: #fff;
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
}

.text-price {
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 18px;
}

.text-description {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.id-details {
  color: #fff;
  font-size: 12px;
  margin-top: 5px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
  cursor: pointer;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  z-index: 999999999;
}

.main-error {
  border: solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 20%;
  width: 300px;
  margin: 15% 0;
  background-color: #ff0201;
  text-align: left;
  position: relative;
  transition: 1s ease-out;
}

#errorDialog {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-error header {
  margin: 1em 0.5em;
}

.main-error #errorDialogContent {
  margin: 0em 0.5em;
}

.main-error #close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 1em;
  z-index: 999999999;
}

.main-error #close_modal:hover {
  cursor: pointer;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.2);
}

.spinner {
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
  animation: rotate 2s linear infinite;
}

.spinner circle {
  fill: none;
  stroke: #fff;
  animation: dash 1.4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius: 14px;
  position: relative;
  height: 65%;
  border: 8px solid yellow;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-id {
  border: solid;
  padding: 3px;
  border-radius: 14px;
  top: 8px;
  position: absolute;
  left: 10px;
  box-shadow: 0 10px 60px -10px black;
}

.card-cover-image {
  width: 90%;
  margin-top: 1.3em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0.5px solid;
  background-color: rgba(128, 128, 128, 0.3);
}

.game-font {
  font-family: "Press Start 2P", cursive;
}

.card-list {
  display: flex;
  list-style: none;
  padding-left: 1em;
}

.card-pokemon-name {
  margin-top: 0.5em;
  font-size: 20px;
}

.toUpper {
  text-transform: uppercase;
}

.card-list-height {
  text-align: start;
  padding-left: 1.5rem;
  margin-top: 0.5em;
  font-size: 13px;
}

.card-list > li {
  list-style: none;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 4px;
  text-transform: capitalize;
  margin: 0 0.5em;
  box-shadow: 0 10px 60px -10px black;
}

.capitalize {
  text-transform: capitalize;
}

.logo {
  justify-self: start;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  width: 100%;
  height: 80px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilities-div {
  width: 50%;
  position: absolute;
  margin: -50% 20%;
  text-align: left;
  background-color: black;
  color: white;
  min-height: 92.34px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-radius: 24px;
  padding: 0.2rem;
}

.abilities-div li {
  position: relative;
  list-style-type: none;
  padding-left: 1.5rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0.3rem;
  background-color: red;
  border-radius: 45px;
  font-family: "Press Start 2P", cursive;
}

.abilities-div li:before {
  content: "⚔";
  display: block;
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 11px;
  transform-origin: bottom left;
}

.hover-abilitie {
  border: solid;
  border-radius: 50%;
  padding: 0.1em;
  width: 32px;
  height: 32px;
  font-size: 32px;
  display: block;
  background: repeating-radial-gradient(red, transparent 100px);
}

.hover-abilitie:hover {
  cursor: help;
}

.hidden {
  display: none;
}

.content-sprite-button {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  width: 8vw;
}

.sprite-button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.sprite-button:hover {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.sprite-button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.fem-button {
  color: #ff79e7;
  border: solid #ff79e7;
}

.masc-button {
  color: #1288eb;
  border: solid #1288eb;
}

.rotate-button {
  color: #000;
  border: solid #000;
}

.pass-button {
  top: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: solid yellow;
  background-color: #9a093c;
  color: yellow;
}

.pass-button:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.pass-button:disabled {
  cursor: not-allowed;
}

.next-button {
  right: -29px;
}

.next-button:hover {
  transform: translate(5px, 0);
}

.previous-button:hover {
  transform: translate(-5px, 0);
}

.previous-button {
  left: -29px;
}

#pokemonById {
  width: 18vw;
  background-color: transparent;
  height: 4vh !important;
  margin-bottom: 15px;
  border-radius: 50px;
}

#pokemonById:focus,
#pokemonById:focus-visible {
  border-radius: 50px !important;
  border: none;
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}

.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
